.tags li {
    display: inline-block;
    background-color: #1b96c6;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.likes-comments {
  position: relative;
  display: inline-block;
}

.likes-comments .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(6, 13, 24, 0.61);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 3px;
  font-size: 75%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments .likes-comments-count {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: 90%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments:hover .tooltiptext {
  visibility: visible;
}

.likes-comments:hover {
    cursor: pointer;
}

.likes-comments > i:hover {
  color: rgba(17, 113, 186, 0.93);
}

.sidenav {
  direction: rtl;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  opacity: 70%;
  background-color: #009579;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  opacity: 1;
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(206, 199, 199, 0.87);
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.category_a {
  text-decoration: none;
}

#categories {
  margin-right: 10%;
}