@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

#main-body, #header-content, body {
    background-color: rgb(253, 253, 253) !important;
}

nav {
    position: sticky;
}
.tags li {
    display: inline-block;
    background-color: #1b96c6;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.likes-comments {
  position: relative;
  display: inline-block;
}

.likes-comments .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(6, 13, 24, 0.61);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 3px;
  font-size: 75%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments .likes-comments-count {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: 90%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments:hover .tooltiptext {
  visibility: visible;
}

.likes-comments:hover {
    cursor: pointer;
}

.likes-comments > i:hover {
  color: rgba(17, 113, 186, 0.93);
}

.category_a, .tags-link {
  font-size: 110%!important;
  text-decoration: none;
  color: white!important;
}

#categories, #tags{
  margin-right: 10%;
}

@font-face {
      font-family: iranian sans;
      src: url('../fonts/FontsFree-Net-ir_sans.ttf');
    }

* {
    direction: rtl;
    font-family: "iranian sans", sans-serif;
}



.arrow {
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

li > i {
    top: 5%;
    font-size: 120%;
}
.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.search-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(2, 153, 124, 0.86);;
  direction: rtl;
  overflow-y: auto;


}

.overlay-content > form > button {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.overlay-content > form > input {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.search-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;

}

.search-overlay .closebtn:hover {
  color: #ccc;

}

.search-overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
  background: white;
}

.search-overlay input[type=text]:hover {
  background: #f1f1f1;
}

.search-overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-overlay button:hover {
  background: #bbb;
}

.new_posts {
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    height: 25rem;
    border-radius: 15px;
    margin-bottom: 3%;

}
.text-test {
      background-color: rgba(167, 167, 167, 0.32);
      border-radius: 5px;
      font-family: sans-serif;
      text-align: center;
      line-height: 1;
     -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      width: 80%;
      height: 80%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

}

#new_1, #new_2 {
    line-height: 2rem;
    text-shadow: 0 0 2px rgba(80,80,80,0.72);
}

.card-title, .user-date {
    font-weight: bold;
    text-shadow: 0 0 1px #2d2b27;
  }

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 120%;
  }
}

#header-site {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    background-color: rgba(187, 187, 187, 0.3);
    text-shadow: 0 0 3px #e8e6e2, 0 0 5px rgba(109, 105, 102, 0.64);
    margin-top: 5%;
    margin-bottom: 5%;

}

#header-site > h3 {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    width: 80%;

}

.card-content {
  overflow: hidden;
  position: relative;
}

.card-content::after {
  position: absolute;
  content: "";
  left: 0;
  top: 10%;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, rgb(255, 255, 255));
  pointer-events: none;
}

.card {
    border-radius: 15px!important;
}

.read_more {
    text-shadow: 0 0 3px #e8e6e2, 0 0 5px rgba(41, 62, 43, 0.88);
}

.comment-ul {
    list-style: none;
}

.search-results:hover {
    cursor: pointer;
}

.username {
    text-decoration: none;
    color: #333333;
}



.sidebar, .searchbar {

  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  background-color: rgba(2, 153, 124, 0.86);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidebar a, .searchbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn, .searchbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.writer-link {
    font-size: 100%!important;
}


@font-face {
          font-family: iranian sans;
          src: url('../fonts/FontsFree-Net-ir_sans.ttf');
        }

        * {
            direction: rtl;
            font-family: "iranian sans", sans-serif!important;
        }

        *{

    margin: 0;
    padding: 0;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    background-color: red!important;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #009579;
    background: -webkit-linear-gradient(to left, #6dcebc, #035746);
    width: 100%;
    height:100vh;


}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#header-site {
    background-color: #009579;
}

