#main-body, #header-content, body {
    background-color: rgb(253, 253, 253) !important;
}


.tags li {
    display: inline-block;
    background-color: #1b96c6;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.likes-comments {
  position: relative;
  display: inline-block;
}

.likes-comments .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(6, 13, 24, 0.61);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 3px;
  font-size: 75%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments .likes-comments-count {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  font-size: 90%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
}

.likes-comments:hover .tooltiptext {
  visibility: visible;
}

.likes-comments:hover {
    cursor: pointer;
}

.likes-comments > i:hover {
  color: rgba(17, 113, 186, 0.93);
}

.sidenav {
  direction: rtl;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  opacity: 70%;
  background-color: rgba(0, 149, 121, 0.73);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  opacity: 1;
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(206, 199, 199, 0.87);
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.category_a {
  text-decoration: none;
}

#categories, #tags{
  margin-right: 10%;
}

@font-face {
      font-family: iranian sans;
      src: url('../fonts/FontsFree-Net-ir_sans.ttf');
    }

* {
    direction: rtl;
    font-family: "iranian sans", sans-serif;
}



.arrow {
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

li > i {
    top: 5%;
    font-size: 120%;
}
.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.search-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 149, 121, 0.73);
  direction: rtl;
  overflow-y: auto;


}

.overlay-content > form > button {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.overlay-content > form > input {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.search-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;

}

.search-overlay .closebtn:hover {
  color: #ccc;

}

.search-overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
  background: white;
}

.search-overlay input[type=text]:hover {
  background: #f1f1f1;
}

.search-overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-overlay button:hover {
  background: #bbb;
}

.new_posts {
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    height: 25rem;
    border-radius: 15px;
    margin-bottom: 3%;

}
.text-test {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      font-family: sans-serif;
      text-align: center;
      line-height: 1;
     -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      width: 80%;
      height: 80%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

}

#new_1, #new_2 {
    line-height: 2rem;
    text-shadow: 0 0 2px rgba(80,80,80,0.72);
}

.card-title, .user-date {
    font-weight: bolder;
    text-shadow: 0 0 3px #2d2b27;
  }

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 120%;
  }
}

#header-site {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    background-color: rgba(187, 187, 187, 0.3);
    text-shadow: 0 0 3px #e8e6e2, 0 0 5px rgba(109, 105, 102, 0.64);
    margin-top: 5%;
    margin-bottom: 5%;

}

#header-site > h3 {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    width: 80%;

}

.card-content {
  overflow: hidden;
  position: relative;
}

.card-content::after {
  position: absolute;
  content: "";
  left: 0;
  top: 10%;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, rgb(255, 255, 255));
  pointer-events: none;
}

.card {
    border-radius: 15px!important;
}