{% extends 'base.html' %}
{% block active_profile %}active{% endblock %}


{% block style %}
<style>
    .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}
.ck-editor__editable_inline {
    min-height: 400px;
}
</style>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
     {% if messages %}
           {% for message in messages %}
                <div class="text-danger">{{ message }}</div>
           {% endfor %}
     {% endif %}
{% endwith %}

<div class="text-center mt-3">
    <h3>
           {% block header %}{% endblock %}
    </h3>
</div>
<div id="alert">
    <h4 class="text-center text-danger"></h4>
</div>
<form method="post" enctype="multipart/form-data" class="text-right" name="create_form">
      <div class="form-group">
        <label for="title">عنوان</label>
        <input type="text" name="title" class="form-control" id="title" value="{% block post_title %}{% endblock %}" placeholder="عنوان پست خود را وارد کنید">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">دسته بندی ها</label>
        <select class="form-control" id="exampleFormControlSelect1" name="category">
            {% block categories %}

           {% endblock %}
        </select>
      </div>
      <div class="form-group">
        <label for="image">عکس پست</label>
        <input type="file" name="file" class="form-control-file" id="image" placeholder="{% block image_place_holder %}{% endblock %}">
        {% block image_preview %}{% endblock %}
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">متن پست</label>
              <div class="document-editor" >
            <div class="document-editor__toolbar"></div>
            <div class="document-editor__editable-container">
                <div class="document-editor__editable border" id="content">
                    {% block post_content %}{% endblock %}
                </div>
            </div>
        </div>
        <input class="d-none" type="text" name="content-data" id="content-data">

      </div>
       <div class="form-check form-check-inline">
          <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox1" value="1" {% block post_checked %}{% endblock %} name="is_active">
          <label class="form-check-label" for="inlineCheckbox1"> پست من نشان داده شود</label>
       </div>
       <div>
           <label class="form-check-label" for="tags">برچسب ها</label>
           <input type="text" value="{{ tags }}" data-role="tagsinput" id="tags_input" class="form-control" name="tags">
       </div>
       <div class="text-center mt-2">
            <button type="submit" class="btn btn-primary" onclick="get_tags(); get_content()">{% block button %}{% endblock %}</button>
       </div>
<textarea name="invisible" id="invisible" style="display:none;"></textarea>

</form>



{% endblock %}
{% block js %}
    <script>
    function get_tags() {
        $('#invisible').html($('#tags_input').val())
    }

    function get_content() {
        $('#content-data').val($('#content ').html())
    }
    </script>
    <script type="text/javascript">
        DecoupledEditor
    .create( document.querySelector( '.document-editor__editable' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'fontColor', 'fontSize', 'fontFamily', 'fontBackgroundColor', 'alignment']

    }).then( editor => {
        const toolbarContainer = document.querySelector( '.document-editor__toolbar' );

        toolbarContainer.appendChild( editor.ui.view.toolbar.element );

        window.editor = editor;
    } )
    .catch( err => {
        console.error( err );
    } );
    </script>

{% endblock %}
