{% extends 'base.html' %}
{% block title %}پروفایل{% endblock %}
{% block style %}
    <style>
    #userprofile {
        text-align: right;
    }#userposts {
        text-align: right;
    }

    </style>

{% endblock %}
{% block content %}
{% if user %}
    <div class="container d-flex justify-content-center mt-5" id="userprofile">

        <div class="card shadow" style="width: 60rem;">
            {% if user.photo %}
            <img class="card-img-top mx-auto d-block mt-2" src="{{ url_for('static', filename=user.photo ) }}"
                 alt="profile image" style="width: 18rem; height: 18rem; border-radius: 50%">
            {% else %}
                <h3 style="margin-right: 1rem; margin-top: 1rem; text-align: center; ">بدون عکس</h3>
                <br>
                <br>
            {% endif %}
            <div class="card-body">

                <h3 class="card-title">اطلاعات کابر</h3>
                <h4 class="mt-4">نام:  <span>{{ user.first_name|capitalize }}</span></h4>
                <h4 class="mt-4">نام خانوادگی:  <span>{{ user.last_name|capitalize }}</span></h4>
                <h4 class="mt-4">نام کاربری:  <span>{{ user.username|capitalize }}</span></h4>
                <h4 class="mt-4">ایمیل:  <span>{{ user.email|capitalize }}</span></h4>
                <h4 class="mt-4">تاریخ عضویت:  <span>{{ user.date }}</span></h4>


            </div>


        </div>
        </div>
    <div class="container d-flex justify-content-center mt-5" id="userposts">

        <div class="card shadow" style="width: 60rem;">
            <div class="card-body">
                {% for post in posts_user %}
                <div class="card shadow" style="width: 50rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename=post.image ) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}

{% endif %}

{% endblock %}
