<!DOCTYPE html>
<html lang="fa">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename="css/main.css" ) }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename="css/tagsinput.css" ) }}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="../static/js/tagsinput.js"></script>
        <script src="https://kit.fontawesome.com/53bbe38c27.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block font %}{% endblock %}
    <style>
        @font-face {
          font-family: iranian sans;
          src: url('../static/fonts/FontsFree-Net-ir_sans.ttf');
        }

        * {
            direction: rtl;
            font-family: "iranian sans", sans-serif;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="color: #007f67">بلاگ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% block active_home %}{% endblock %}">
        <a class="nav-link" href="{{ url_for("blog.home") }}">خانه <span class="sr-only">(current)</span></a>
      </li>
      {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.login') }}">ورود به حساب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.register') }}">ثبت نام</a>
          </li>
      {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block active_profile %}{% endblock %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              پروفایل
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-right" href="{{ url_for("user.create_post") }}">ایجاد پست</a>
                  <a class="dropdown-item text-right" href="{{ url_for("user.post_list") }}">دیدن پست های من</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-right" href="{{ url_for("user.profile") }}">اطلاعات کاربری</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.logout') }}">خروج</a>
          </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="جستجو..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">جستجو</button>
    </form>
  </div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>
<div style="height: 5rem" class="container" id="footer">

</div>
{% block js %}{% endblock %}
</body>
</html>