<!DOCTYPE html>
<html lang="fa">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename="css/main.css" ) }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename="css/tagsinput.css" ) }}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="../static/js/tagsinput.js"></script>
        <script src="https://kit.fontawesome.com/53bbe38c27.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/deactivate_delete_post.js"></script>
        {% block font %}{% endblock %}
        <script src="{{ url_for('static', filename="js/deactivate_delete_post.js" ) }}"></script>
        <script src="{{ url_for('static', filename="js/like_or_dis_like.js" ) }}"></script>
    <style>
        @font-face {
          font-family: iranian sans;
          src: url('../static/fonts/FontsFree-Net-ir_sans.ttf');
        }

        * {
            direction: rtl;
            font-family: "iranian sans", sans-serif;
        }

        .level-2 {
            display: block!important;
        }

        .arrow {
            cursor: pointer;
            transition: transform ease-in-out 250ms;
        }

        li > i {
            top: 5%;
            font-size: 120%;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-right">
  <a class="navbar-brand" href="#" style="color: #007f67">بلاگ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% block active_home %}{% endblock %}">
        <a class="nav-link" href="{{ url_for("blog.home") }}">خانه <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><span style="cursor: pointer" onclick="openNav()"> دسته ها</span></a>
      </li>
      {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.login') }}">ورود به حساب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.register') }}">ثبت نام</a>
          </li>
      {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block active_profile %}{% endblock %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              پروفایل
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-right" href="{{ url_for("user.create_post") }}">ایجاد پست</a>
                  <a class="dropdown-item text-right" href="{{ url_for("user.post_list") }}">دیدن پست های من</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-right" href="{{ url_for("user.profile") }}">اطلاعات کاربری</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog.logout') }}">خروج</a>
          </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="جستجو..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">جستجو</button>
    </form>
  </div>
</nav>

<div class="">
<div id="mySidenav" class="sidenav text-right">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="d-flex flex-column">
      <div id="categories" class="text-right mt-3">
            <h3 class="font-weight-bolder">دسته ها</h3>
      </div>
      <div id="tags" class="text-right mt-3">
            <h3 class="font-weight-bolder">برچسب ها</h3>
      </div>
  </div>
</div>

<div class="container" id="main-body">
{% block content %}{% endblock %}
</div>
<div style="height: 5rem" class="container" id="footer">

</div>
</div>
<script>
    let count = 0;
    function json_loop(array, ul_name) {
        for (let category of array) {
            count += 1
            let ul = $('<ul/>')
            let li = $('<li/>')
            ul.attr('class', 'mt-2')
            li.html(`<a class="category_a" href="{{ url_for('blog.category', variable='' ) }}${category._id.$oid}">${category.name}</a>`)
            const myArr = category.path.split("/");
            ul.attr('class', `d-none level-${myArr.length}`)
            ul.attr('id', `${Math.random().toString(36).substr(2, 5)}`)
            ul.append(li)
            ul_name.append(ul)
            if ('children' in category) {
                    let i = $('<i/>').attr('class', 'fa fa-caret-down arrow').attr('onclick', `get_sub("${ul.attr('id')}")`)
                    li.append(i)
                    json_loop(category.children, ul)
                    }

        }
        return ul_name
    }
    $( document ).ready(function() {
         $.get("{{ url_for('API.list_categories') }}", function(data, status){
                let div = $('#categories')
                let ul = json_loop(data, div)
                div.append(ul)
            });
         $.get("{{ url_for('API.list_tags') }}", function(data, status){
                let div = $('#tags')
                let ul = $("<ul/>").attr('class', 'mt-2')
                for (let tag of data) {
                    let li = $('<li/>')
                    li.html(`<a href="{{ url_for('blog.tag', variable='' ) }}${tag._id.$oid}">${tag.name}</a>`)
                    ul.append(li)
                }
                div.append(ul)
            })
            });
    function get_sub(id) {
        let ul = $(`#${id} > li > i`)
        if (ul.css('transform') === 'none') {
            $(`#${id} > ul`).removeAttr('class', 'd-none')
            ul.css('transform', 'rotate(90deg)')

        }
        else {
            $(`#${id} > ul`).attr('class', 'd-none');
             ul.css('transform', 'none')
    }}
    function openNav() {
          document.getElementById("mySidenav").style.width = "50%";
          $('.navbar').css('filter', 'blur(3px)')
          $('#main-body').css('filter', 'blur(3px)')
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          $('.navbar').css('filter', 'none')
          $('#main-body').css('filter', 'none')
        }
</script>
{% block js %}{% endblock %}
</body>
</html>